@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply no-scrollbar overflow-x-scroll;
  }
  body {
    @apply bg-backgroound-dark text-font-gray text-lg leading-6;
  }
  .token {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
    margin: 0;
    padding: 0;
    height: 16px;
    line-height: 16px;
  }

  /* react-code-blocks */
  .preview-card span {
    @apply no-scrollbar bg-none font-semibold;
  }
  /* /react-code-blocks */
}

@layer components {
  .card {
    @apply h-auto flex justify-center items-center mx-auto bg-dark-gray rounded-lg border-solid border-light-gray border-4;
  }
  .table-cell {
    @apply flex justify-center items-center mx-auto rounded-lg px-4 py-2 shadow-xl;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  .border-spacing-5 {
    border-spacing: 0.75rem;
  }
  .clamp {
    display: -webkit-box;
    display: -moz-box;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .bg-glow {
    background: linear-gradient(135deg, #7473a6, #e3949d, #6253b8, #e394c6);
    -webkit-filter: blur(5rem);
    filter: blur(5rem);
    content: '';
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    mix-blend-mode: multiply;
    pointer-events: none;
    animation: shape 30s ease 0s infinite;
  }
  @keyframes shape {
    0%,
    100% {
      border-radius: 15% 85% 25% 75%/73% 14% 86% 27%;
    }
    14% {
      border-radius: 8% 92% 12% 88%/85% 5% 95% 15%;
    }
    28% {
      border-radius: 40% 60% 21% 79%/62% 20% 80% 38%;
    }
    42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
  }
  .loading {
    position: relative;
    overflow: hidden;
  }
  .loading::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(65, 75, 91, var(--tw-bg-opacity)),
      transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    animation: skeleton-animation 1.2s linear infinite;
  }
  @keyframes skeleton-animation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .highlight {
    @apply bg-[#0ff] rounded-sm;
  }
}
